
@{
    ViewBag.Title = "Report2";
}

<p> @Html.Label("Выручка")  @Html.ViewBag.Sum</p>
<br />
<p> @Html.Label("Звонков днём") @Html.ViewBag.CallD</p>
<br />
<p> @Html.Label("Звонков ночью") @Html.ViewBag.CallN</p>
<br />

